//PALETA DE COLORES CAMBIADA

$primary: #FD6F96;
$secondary: #b71540;
$success: #ffa801;
$danger: #FF2442;
$warning: #FFEBA1;
$info: #00a8ff;
$light: #dcdde1;
$dark: #1B1464;
$body-color: #3B0000;


@import "../bootstrap-5.1.1/scss/bootstrap.scss";